:root {
  --headerH1FontSize: 4em;
  --headerH2FontSize: 2em;
  --headerInfoFlexPadding: 2em 4em;
  --headerInfoHeadingMargin: 0.2em;
  --headerInfoHeight: 450px;
}

* {
  box-sizing: border-box;
}

body {
  /* background-color: black;
    color: white; */
  margin: 0;
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

.grid {
  display: grid;
}

.overflowHidden {
  overflow: hidden;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 5px 20px;
  transition: all 0.5s;
  border-radius: 8px;
  cursor: pointer;
}

a {
  color: #d7dedc;
  text-decoration: none;
}

/* header */
header {
  position: relative;
  color: #d7dedc;
  padding-top: 20px;
}

header::before {
  content: "";
  background: url(../CSS/img/poem\ bg.jpg) bottom center/cover no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
}

header::after {
  transform: translate(-500%);
  content: "";
  background-color: rgba(0, 0, 0, 0.705);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: -2;
  animation: getInFromTop 1s forwards ease-in;
}

header h1 {
  font-size: var(--headerH1FontSize);
  margin-left: 0;
  margin-right: 0;
}

@keyframes bounce {
  75% {
    transform: translateY(-20px);
  }

  80% {
    transform: translateY(0);
  }

  85% {
    transform: translateY(-10px);
  }

  90% {
    transform: translateY(0px);
  }

  95% {
    transform: translateY(-5px);
  }
}

header h2 {
  font-size: var(--headerH2FontSize);
}

header nav li:hover {
  background-color: #d7dedc;
  color: rgba(0, 0, 0, 0.705);
  color: black;
}

/* header info */
header .info {
  justify-content: center;
  text-align: center;
  height: var(--headerInfoHeight);
  align-items: center;
}

header .info h2,
h1 {
  margin: var(--headerInfoHeadingMargin);
}

header .info .flex {
  position: relative;
  flex-direction: column;
  width: max-content;
  padding: var(--headerInfoFlexPadding);
  color: #efa00b;
}

header .info .flex::before {
  background-color: #151a1975;
  box-shadow: inset 0 0 20px 0 darkgrey;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  z-index: -1;
  border-radius: 10px;
  position: absolute;
  animation: bounce 2s forwards ease;
}

@keyframes flip {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(180deg);
  }
}

#hello {
  transform: translateY(-500%);
  animation: getInFromTop 2s forwards linear;
}

@keyframes getInFromTop {
  to {
    transform: translateY(0);
  }
}

#name {
  /* border: 2px solid red; */
  /* color: #D7DEDC; */
  width: 100%;
  transform: translateX(-200%);
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 0.1em;
  text-decoration: underline 0.05em;
  animation: getInFromLeft 2s forwards linear 1s,
    typewriter 3s steps(30, end) 2s, blink 1s infinite;
}

@keyframes getInFromLeft {
  to {
    transform: translateX(0);
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-right: 4px solid transparent;
  }

  50% {
    border-right: 4px solid #efa00b;
  }
}

#msg {
  transform: translateY(500%);
  animation: getInFromBottom 2s forwards linear;
}

@keyframes getInFromBottom {
  to {
    transform: translateY(0);
  }
}

/* container */
.container {
  padding: var(--headerInfoFlexPadding);
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: scroll;
  overflow-x: hidden;
  position: relative;
}

/* container card */
.card {
  /* border: 2px solid red; */
  overflow: hidden;
  border-radius: 1em;
  position: relative;
  cursor: pointer;
  height: max-content;
  box-shadow: 0 0 20px 0 black;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  transition: all 1s;
  background-color: #484649;
  color: #E5D0CC;
  padding: 1em;
  align-items: center; 
  font-size: 1.5em;
}


.overlay:hover {
  /* transform: translateY(-300%); */
  color: transparent;
  background-color: transparent;
}

.card img {
  width: 100%;
  object-fit: fill;
  aspect-ratio: 1;
  transition: all 1s;
}


/* footer */
footer
{
  background-color: black ;
  color: white;
  flex-direction: column;
}

footer .copy
{
  justify-content: center;
  align-items: baseline;
}